<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>사용자 관리</title>
    <link rel="stylesheet" type="text/css" href="/css/mypagestyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gugi&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    h2 {
      text-align: center;
      position: sticky; /* Add this line */
      top: 0; /* Add this line */
      background-color: white; /* Ensure it covers content when scrolled */
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    td,
    th {
      border: none;
      text-align: left;
      padding: 8px;
      border-radius: 10px; /* Increase this value to make the border more rounded */
    }

    .card-group:nth-child(1) td,
    .card-group:nth-child(1) th {
      background-color: #98fb98; /* Lighter green tone for verified user cards */
    }

    .card-group:nth-child(2) td,
    .card-group:nth-child(2) th {
      background-color: #ffc0cb; /* Lighter red tone for unverified user cards */
    }

    .user-groups {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 25px; /* Add padding to the top */
    }

    .card-group {
      flex-basis: calc(50% - 10px);
      margin-bottom: 20px;
      border-radius: 15px; /* Round the borders */
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25); /* Add darker shadow */
      overflow: auto; /* Enable scroll */
      height: 870px; /* Control height */
      position: relative; /* Positioning context for child elements */
      background-color: #ffffcc;
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: calc(50% - 10px);
      margin-bottom: 10px;
      border-radius: 5px; /* Card border rounded */
      display: inline-block;
    }

    .container {
      padding: 2px 16px;
    }

    /* Style for verified user cards */
    .card-group:nth-child(1) .card {
      background-color: #e8f5e9; /* Green background */
      border: 2px solid #4caf50; /* Green border */
    }

    /* Style for unverified user cards */
    .card-group:nth-child(2) .card {
      background-color: #ffebee; /* Red background */
      border: 2px solid #f44336; /* Red border */
    }

    .button-container {
      display: flex;
      justify-content: space-between;
    }

    /* Style for verified user buttons */
    .card-group:nth-child(1) .button {
      background-color: #4caf50; /* Green background */
      border: none; /* Remove border */
      border-radius: 15px; /* Round corners */
      color: white;
      text-align: center;
      cursor: pointer;
      width: 100%;
      outline: 0;
      padding: 8px;
      margin: 0 10px;
      flex: 1;
    }

    /* Style for unverified user buttons */
    .card-group:nth-child(2) .button {
      background-color: #f44336; /* Red background */
      border: none; /* Remove border */
      border-radius: 15px; /* Round corners */
      color: white;
      text-align: center;
      cursor: pointer;
      width: 100%;
      outline: 0;
      padding: 8px;
      margin: 0 10px;
      flex: 1;
    }
    .card-group:nth-child(1) .button:hover {
      background-color: #388e3c; /* Darker green */
    }

    .card-group:nth-child(2) .button:hover {
      background-color: #d32f2f; /* Darker red */
    }
  </style>
  <body>
    <ul class="navbar">
      <li class="nav-item" style="min-height: 45px">
        <a href="/"
          ><img src="../images/home1.png" alt="홈" style="float: left"
        /></a>
        <a href="/" class="title"><img src="/images/title.png" /></a>
        <button id="showPanelBtn" style="float: right">
          <img src="../images/Menu.png" alt="메뉴" />
        </button>
        <div id="panel">
          <button id="hidePanelBtn" style="margin-left: auto">
            <img src="../images/hide.png" alt="닫기" />
          </button>
          <span style="margin-top: 30px; font-size: 20px">chat-GCT</span>
          <img
            src="../images/gachon.png"
            style="width: 45px; height: 45px; margin: 10px"
          />

          <a href="/login/logout"
            ><button
              class="logbtn"
              id="logoutbtn"
              style="display: inline-block"
            >
              로그아웃
            </button></a
          >
          <div class="panelbtn">
            <a href="/mypage/" id="mypagebtn"
              ><button class="panelbtn1">내 정보</button></a
            >
            <a href="/timetable/" id="timetablebtn"
              ><button class="panelbtn1">시간표</button></a
            >
          </div>
        </div>
      </li>
    </ul>
    <div class="boundary">
      <span>&nbsp 관련사이트 |</span>
      <span class="rotating-text"
        ><a href="https://www.gachon.ac.kr/kor/index.do" target="_blank"
          >가천대학교 홈페이지</a
        ></span
      >
      <span class="rotating-text"
        ><a href="https://cyber.gachon.ac.kr/login.php" target="_blank"
          >가천대학교 사이버캠퍼스</a
        ></span
      >
      <span class="rotating-text"
        ><a href="https://lib.gachon.ac.kr/" target="_blank"
          >가천대학교 중앙도서관(G)</a
        ></span
      >
      <span class="rotating-text"
        ><a
          href="https://sso.gachon.ac.kr/svc/tk/Auth.do?ac=Y&ifa=N&id=portal&"
          target="_blank"
          >가천포털 학사행정</a
        ></span
      >
    </div>

    <div class="user-groups">
      <div class="card-group">
        <h2>인증이 완료된 사용자 정보</h2>
        <% var i = 0; while(i < verifiedUsers.length) { %>
        <div class="card">
          <div class="container">
            <table>
              <tr>
                <td>Loginid:</td>
                <td><%=verifiedUsers[i].loginid%></td>
              </tr>
              <tr>
                <td>Password:</td>
                <td><%=verifiedUsers[i].password%></td>
              </tr>
              <tr>
                <td>Name:</td>
                <td><%=verifiedUsers[i].name%></td>
              </tr>
              <tr>
                <td>Subject:</td>
                <td><%=verifiedUsers[i].subject%></td>
              </tr>
              <tr>
                <td>Class:</td>
                <td><%=verifiedUsers[i].studentnum%></td>
              </tr>
            </table>
            <div class="button-container">
              <button
                onclick="location.href='/user_manage/update/<%=verifiedUsers[i].id%>'"
                class="button"
              >
                Update
              </button>
              <button
                onclick="location.href='/user_manage/delete_process/<%=verifiedUsers[i].id%>'"
                class="button"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
        <% i++; } %>
      </div>

      <div class="card-group">
        <h2>인증이 완료되지 않은 사용자 정보</h2>
        <% var i = 0; while(i < unverifiedUsers.length) { %>
        <div class="card">
          <div class="container">
            <table>
              <tr>
                <td>Loginid:</td>
                <td><%=unverifiedUsers[i].loginid%></td>
              </tr>
              <tr>
                <td>Password:</td>
                <td><%=unverifiedUsers[i].password%></td>
              </tr>
              <tr>
                <td>Name:</td>
                <td><%=unverifiedUsers[i].name%></td>
              </tr>
              <tr>
                <td>Subject:</td>
                <td><%=unverifiedUsers[i].subject%></td>
              </tr>
              <tr>
                <td>Class:</td>
                <td><%=unverifiedUsers[i].studentnum%></td>
              </tr>
            </table>
            <div class="button-container">
              <button
                onclick="location.href='/user_manage/update/<%=unverifiedUsers[i].id%>'"
                class="button"
              >
                Update
              </button>
              <button
                onclick="location.href='/user_manage/delete_process/<%=unverifiedUsers[i].id%>'"
                class="button"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
        <% i++; } %>
      </div>
    </div>

    <script src="../js/panel.js"></script>
    <script src="../js/banner.js"></script>
  </body>
</html>
